<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus1.api.dao.mapper.BrokerMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus1.api.dao.entity.BrokerMessageEntity">
        <id column="id" property="id" />
        <result column="message_id" property="messageId" />
        <result column="message" property="message" />
        <result column="try_count" property="tryCount" />
        <result column="status" property="status" />
        <result column="next_retry" property="nextRetry" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="customQueryAllWithXml"
            resultType="com.example.mybatisplus1.api.dao.entity.BrokerMessageEntity">
        select * from broker_message
    </select>

</mapper>
